body{
	font-family: helvetica;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}
.container{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

a{
	color: inherit;
	text-decoration: none;
}

.clr{
	clear: both;
	height: 0;
	width: 100%;
}

.repository-list{
}

.repository{
	height: 100px;
	position: relative;
}

.repository h2{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	color: white;
	font-size: 52px;
	margin: 0;
	margin-left: 10px;
	line-height: 100px;
	font-family: helvetica;
}

.progress-bar{
	float: left;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.milestone{
	margin-bottom: 10px;
}

.milestone-header{
	padding: 10px;
	font-size: 32px;
	clear: both;
}

.column{
	float: left;
	width: 20.5em;
	margin-right: 5px;
	margin-bottom: 5px;
}

.column-header{
	padding: 5px;
	border-radius: 10px;
}

.column-header .title{
	background-color: rgba( 255, 255, 255, .7);
	padding: 3px;
	padding-left: 5px;
	border-radius: 5px;
	height: 25px;
}

.column .name{
	position: relative;
	top: 3px;
	left: 3px;
}

.column img + .name{
	margin-left: 5px;
	position: relative;
	top: -2px;
}

.column img{
	height: 20px;
	width: 20px;
	position: relative;
	top: 2px;
}

.issue{
	background-color: white;
	font-size: 12px;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 5px;
	padding-top: 5px;
}

.issue:nth-child(odd){
	background-color: rgba(153, 204,15, .05);
}

.issue .number{
	float: right;
	background-color: #999999;
	color: white;
	font-size: 12px;
	padding-top: 1px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 5px;
}

.issue .number .pound{
	font-size: 9px;
}

.issue .title{
	margin-left: 5px;
}

.info-bar{
	position: absolute;
	top: 56px;
	right: -200px;
	width: 180px;
}

.info-bar .content{
	background-color: #EEEEEF;
	border-radius: 5px;	
	padding: 10px;
	padding-top: 12px;
	padding-left: 10px;
	height: 100%;
}

.info-bar .widget{
	padding-bottom: 10px;
}

.info-bar a{
	background-color: #CCC;
	border-radius: 5px;
	cursor: pointer;
	font-size: 12px;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 5px;
}

#search{
	border: none;
	border-radius: 5px;
	padding: 5px;
	width: 100%;
}

#repository, #user{
	width: 100%;
}